// STARTER VARIABLES AND MIXINS

$base0: #fcfcfc;
$base9: #eee;
$base8: #ddd;
$base7: #cecece;
$base6: #c0c0c0; //rgb(192,192,192)
$base5: #a9a9a9; //rgb(169,169,169)
$base4: #888; //rgb(128,128,128)
$base3: #666; //rgb(105,105,105)
$base2: #444;
$base1: #111;


// COLORS
$success:         #42A084;
$info:            #7A9E9F;
$warning:         #ffc857;
$danger:          #db3a34;
$default:         #323031;


$primary:   #2f4550; 
$secondary: $info; 
$tertiary: $danger; 
$tertiary2: $warning; 
$tertiary3: $default; 


// Colors
$blue: $primary;
$dark-gray: $default;
$medium-gray: $base5;
$light-gray: $base9;
$light-red: lighten($danger, 60%);
$light-yellow: lighten($warning, 60%);
$light-green: lighten($success, 60%);


$black: #000;
$white: #fff;


$grid-columns: 16;
$max-width: 1200px;


// Tutorial: how to use color variables properly:
// http://sachagreif.com/sass-color-variables/

$headline-color: $base1;
$text-color: $base2;
$quiet-color: $base6;
$loud-color: $black;
$hr-color: $base8;
$hr-alt: $base6;
$anchor-color: darken($secondary, 20%);
$anchor-hover: $loud-color;
$bg-body: $white;
$bg-content: $base0;
$panel-bg-color: $base9;
$base-border-radius: 0;
$base-font-size: 16px;


// TYPOGRAPHY
$sans: "Lato", Helvetica, Verdana, sans-serif;
$mono: "Courier New", Courier, monospace;
$tracking: 1px;
$tracking-loose: 2px;


// TYPE SIZES
// http://csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/

$giga: 80;
$mega: 72;
$kilo: 64;

$alpha: 48; // h1
$beta: 36; // h2
$gamma: 28; // h3
$delta: 22; // h4
$epsilon: 18; // h5, p
$zeta: 16; // h6

$milli: 14; 
$micro: 12; 
$nano: 11; 


// SPACING

$space-triple: 72px; 
$space-double: 48px;
$space-32: 30px; 
$space: 24px; // equal to body line-height
$space-34: 18px; 
$space-half: 12px; 
$space-third: 8px; 
$space-fourth: 6px; 


// BORDERS

$frame-border: 5px solid $white;


// LAYERS

$layer1: 1; // content
$layer2: 2; // hovers
$layer3: 3; // cloak
$layer4: 4; // lightbox
$layer5: 5; // lightbox content

// SCREEN

$xs-screen: 321px;
$sm-screen: 481px;
$md-screen: 769px; // Desktop
$lg-screen: 1025px;
$xl-screen: 1200px;
