@import 'font-awesome/font-awesome';

@mixin font-icon-base($family:"FontAwesome", $font-size: inherit, $line-height: inherit, $margin: 0, $align: center, $color: inherit) {
  &:before {
    font-family: $family;
    font-style: normal;
    font-size: $font-size;
    line-height: $line-height;
    margin-right: $margin;
    text-align: $align;
    display: inline-block;
    color: $color;
    vertical-align: middle;
  }
}

[class^="icon-"] {
  display: inline-block;
  -webkit-text-rendering: geometricPrecision;
  -moz-text-rendering: geometricPrecision;
  -ms-text-rendering: geometricPrecision;
  -o-text-rendering: geometricPrecision;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}