
/*********************
ALERTS AND NOTICES
*********************/

%alert {
	padding: 1em;
	color: $white;
    border: none;
    a {
       color: $white; 
    }
}

.alert-help {
	@extend %alert;
	background-color: $warning;
}

.alert-info {
	@extend %alert;
	background-color: $info;
}

.alert-error {
	@extend %alert;
	background-color: $danger;
}

.alert-success {
	@extend %alert;
	background-color: $success;
}


// unique variations

.respond-form .alert {
    margin: 40px -40px -40px;
    padding: 20px 40px;
    code,
    p {
        @include font-size(15);
        line-height: 1.4;
    }
}


